.page {
  padding: 0 1rem;
  height: 100vh;
  overflow: scroll;
  background-color: white;

}
.header-container {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: white;
}
.page-header {
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.info-block {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

.info-block-item {
  padding-right: 1rem;
}
.table-container {
  /* padding: 1rem 0; */
}
table {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  border-collapse: separate;
  border-spacing: 0;
}

table thead {
  position: sticky;
  top: 100px;
  background-color: white;
  height: 70px;
}
table thead tr {

  border-bottom: 1px solid gray;
 
}
table thead th {
  padding: 1rem 0;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
table td {
  padding: 0.5rem;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
table thead tr th:first-child,
table tbody tr td:first-child {
  border-left: 1px solid gray;
}

th.sortable {
  cursor: pointer;
}

tr.with-bottom-ref {
  background-color: red;
}
tr.with-top-ref {
  background-color: green;
}